<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moodleeducation.user.Mapper.PermissionMapper">

    <select id="getPermissionById" parameterType="java.lang.Integer" resultType="com.moodleeducation.commoncore.entity.Permission">
        select permission.* from admin_permission,permission where admin_permission.adminId=#{id} and admin_permission.permissionId=Permission.permissionId
    </select>

    <select id="queryParentPermission">
        select * from permission where type=1
    </select>

    <select id="queryPermissionByParentId" parameterType="java.lang.Integer">
        select * from permission where parentId = #{parentId}
    </select>

    <insert id="save" parameterType="com.moodleeducation.user.entity.dto.SavePermissionDTO">
        insert into admin_permission(adminId,permissionId) values
        <foreach collection="permissionList" item="items" separator=",">
            (#{adminId},#{items})
        </foreach>
    </insert>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from admin_permission where adminId =#{id}
    </delete>
</mapper>
