<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moodle.education.user.service.Mapper.ScoreMapper">
<insert id="save" parameterType="com.moodle.education.user.service.entity.Score">
    insert into score(sid,quizId,choiceScore,judgeScore,allScore)
    values( #{sid},#{quizId},#{choiceScore},#{judgeScore},#{allScore})
</insert>
</mapper>
